@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
/*background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');*/
background-color: rgba(41,41,41,0.5);
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
/*height: 380px;*/
margin-top: auto;
margin-bottom: auto;
/*width: 400px;*/
background-color: rgba(1, 143, 143) !important;
}

.social_icon span{
font-size: 80px;
margin-left: 20px;
color: rgb(1,143,143);
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: rgb(1,143,143);
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{

color: cyan;
background-color: rgba(41,41,41,0.5);
/*width: 100px;*/
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}
