.btn {
    background-color: #4CAF50;
    /* Color de fondo */
    border: none;
    /* Sin borde */
    color: white;
    /* Color del texto */
    font-size: 16px;
    /* Tamaño de fuente */
    padding: 10px 20px;
    /* Espacio entre borde y texto */
    cursor: pointer;
    /* Cambia el cursor al pasar por encima del botón */
}

.btn:hover {
    background-color: #3e8e41;
    /* Color de fondo cuando se pasa el mouse por encima */
}