

.myForm {
    background-color: rgba(1, 143, 143) !important;
    padding: 15px !important;
    border-radius: 15px !important;
    color: white;
}

input {
    border-radius: 0 15px 15px 0 !important;

}

input:focus {
    outline: none;
    box-shadow: none !important;
    border: 1px solid  !important;

}

.br-15 {
    border-radius: 15px 0 0 15px !important;
}

#add_more {
    color: white !important;
    background-color: rgb(1, 143, 143) !important;
    border-radius: 15px !important;
    border: 0 !important;

}

#remove_more {
    color: white !important;
    background-color: rgb(1, 143, 143) !important;
    border-radius: 15px !important;
    border: 0 !important;
    display: none;

}

.submit_btn {
    border-radius: 15px !important;
    background-color: rgba(41,41,41,0.5) !important;
    border: 0 !important;
}